<div fxLayout="column" fxLayoutAlign="start none" class="fixVertical">
  <div fxLayout="row" fxLayoutAlign="center center">criteria-example works!</div>
  <div fxFlex fxFlexFill style="background-color: lightgray">
    <app-criteria>
      <span card-header>
        <span>Header</span>
        <a href="#" class="btn btn-primary">This button</a>
      </span>
      <div class="card-block" card-body>
        <h4 class="card-title">You can put any content here</h4>
        <p class="card-text">For example this line of text and</p>
      </div>
    </app-criteria>
  </div>
</div>
