<div fxLayout="column" fxLayoutAlign="start none" class="fixVertical">
  <header fxLayout="row" fxLayoutAlign="center center">
    <nav>
      <a routerLink="/heroes">Heroes</a>
      <a routerLink="/dashboard">Dashboard</a>
      <a routerLink="/form-example">Form Example</a>
      <a routerLink="/weather">Weather</a>
      <a routerLink="/sample-form">Sample form</a>
    </nav>
  </header>
  <main fxFlex fxFlexFill>
    <router-outlet fxLayout="column"></router-outlet>
  </main>
  <footer fxLayout="row" fxLayoutAlign="center center">Footer</footer>
</div>
