<form [formGroup]="sampleForm" noValidate>
  <div class="form-group">
    <label class="center-block">First Name:
      <input class="form-control" formControlName="fname">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Last Name:
      <input class="form-control" formControlName="lname">
    </label>
  </div>
  <div class="form-group">
  <label class="center-block">Address:
  <app-textbox-component [form]="sampleForm.controls.address"></app-textbox-component>
  </label>
  </div>
</form>
<!-- <form [formGroup]="sampleForm" noValidate>
  <div class="form-group">
    <label class="center-block">Name:
      <input class="form-control" formControlName="fname">
    </label>
  </div>
</form>-->
<div>{{ sampleForm.value | json }}</div>
<div>{{ sampleForm.status | json }}</div>
